{
  "defaultSeverity": "warning",
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "color-function-notation": null,
    "alpha-value-notation": null,
    "color-hex-length": null,
    "rule-empty-line-before": null,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "no-empty-source": null,
    "custom-property-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
      {
        "message": "类名设置请保持 kebab-case 格式"
      }
    ]
  },
  "ignoreFiles": ["node_modules", "bower_components", "public"]
}
