// 全局样式
#root {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentcolor;
    overflow: hidden;
  }
}

// 设置字体
:root {
  font-family: sans-serif;
}

*,
::after,
::before {
  font-family: inherit;
}

// 其他样式重置
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a {
  color: unset;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
