import React from "react";
import "./style.scss";
export default function No{{pascalCase code}}() {
  return (
    <div className="no-component no-{{lowerCase code}}">
      <h2>{{pascalCase code}}</h2>
    </div>
  );
}
