.example1-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .ant-row {
    width: 100%;
    height: 100%;
    .ant-col {
      margin: 12px 0;
    }
    .block {
      width: 100%;
      height: 60%;
      text-align: center;
      padding-bottom: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        margin-bottom: 12px;
      }
    }
  }
}
