body {
  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
  --mui-palette-primary-contrastText: #fff;
}
:root[data-mui-color-scheme="light"] {
  --mui-palette-primary-main: #0a7de9;
  --mui-palette-primary-light: #b4d7e2;
  --mui-palette-primary-dark: #0a7de9;
}

:root[data-mui-color-scheme="dark"] {
  --mui-palette-primary-main: #f30606;
  --mui-palette-primary-light: #f1c2c2;
  --mui-palette-primary-dark: #d30606;
}
